<component name="ArtifactManager">
  <artifact type="war" name="springIoc:war">
    <output-path>$PROJECT_DIR$/springIoc/target</output-path>
    <root id="archive" name="springIoc-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springIoc:war exploded" />
    </root>
  </artifact>
</component>